{% extends 'base.html' %}

{% block content %}

<div class="card-box">

    <!-- HEADER -->
    <div class="page-header">
        <h2>Edit Lead ✏️</h2>

        <a href="{% url 'lead_detail' lead.id %}" class="btn btn-secondary">
            ← Back
        </a>
    </div>

    <!-- FORM CARD -->
    <form method="POST" class="crm-form">
        {% csrf_token %}

        <div class="form-grid">

            <div class="form-group">
               <label>👤 Name</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label>📞 Phone</label>
                {{ form.phone }}
            </div>

            <div class="form-group">
                <label>📧 Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label>🌐 Source</label>
                {{ form.source }}
            </div>

            <div class="form-group">
               <label>📊 Status</label>
                {{ form.status }}
            </div>

            <div class="form-group">
                <label>👨 Assigned To</label>
                {{ form.assigned_to }}
            </div>

        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">
            Update Lead
        </button>

    </form>

</div>

{% endblock %}