{% extends 'base.html' %}

{% block content %}

<div class="card-box">

    <div class="page-header">
        <h2>Leads 🔥</h2>
        {% if user.groups.first and user.groups.first.name == "Admin" %}
            <a href="{% url 'add_lead' %}" class="btn btn-primary">
                <i class="fa fa-plus"></i> Add Lead
            </a>
        {% endif %}
    </div>

    <form method="GET" class="search-form">

    <div class="search-box">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="🔍 Search by Name, Phone, Email or Source..."
            value="{{ search }}">

        <select name="status" class="form-control">

            <option value="">All Status</option>

            <option value="new"
                {% if status == "new" %}selected{% endif %}>
                New
            </option>

            <option value="contacted"
                {% if status == "contacted" %}selected{% endif %}>
                Contacted
            </option>

            <option value="qualified"
                {% if status == "qualified" %}selected{% endif %}>
                Qualified
            </option>

            <option value="won"
                {% if status == "won" %}selected{% endif %}>
                Won
            </option>

            <option value="lost"
                {% if status == "lost" %}selected{% endif %}>
                Lost
            </option>

        </select>

        <button type="submit" class="btn btn-primary">
            Search
        </button>

        <a href="{% url 'leads' %}" class="btn btn-secondary">
            Reset
        </a>

    </div>

</form>

    <table class="table table-hover mt-3">

        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Source</th>
                <th>Status</th>
                 <th>Assigned To</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for l in leads %}
            <tr>
                <td>
                    <a href="{% url 'lead_detail' l.id %}" class="record-link">
                        {{ l.name }}
                    </a>
                </td>
                <td>{{ l.phone }}</td>
                <td>{{ l.email }}</td>
                <td>{{ l.source }}</td>

                <td>
                    {% if l.status == "new" %}
                        <span class="badge bg-primary">New</span>

                    {% elif l.status == "contacted" %}
                        <span class="badge bg-warning text-dark">Contacted</span>

                    {% elif l.status == "qualified" %}
                        <span class="badge bg-info">Qualified</span>

                    {% elif l.status == "won" %}
                        <span class="badge bg-success">Won</span>

                    {% elif l.status == "lost" %}
                        <span class="badge bg-danger">Lost</span>
                    {% endif %}
                </td>
                <td>
                    {% if l.assigned_to %}
                        {{ l.assigned_to.username }}
                    {% else %}
                        Not Assigned
                    {% endif %}
                </td>
                <td>{{ l.created_at }}</td>

                <!-- ✅ ACTION BUTTON -->
                <td>
                    <a href="{% url 'convert_lead' l.id %}" class="btn btn-success btn-sm">
                        <i class="fa fa-exchange-alt"></i> Convert
                    </a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No leads found</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}